<a href="https://colab.research.google.com/github/estelacruz/Data-Alchemist/blob/main/PartSix.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![arts_science_short_color.png]()



---



**Data Management & Analysis**


**Estela Bobadilla-Cruz**


---

Name of Database from US Census: Poverty Statistics: CPS & SAIPE (Time Series: various years)

Explanation From Cite: "

The **CPS ASEC** provides the most timely and accurate national data on income and is the official source of national poverty estimates, hence it is the preferred source for national analysis.  The CPS ASEC provides a consistent historical time series beginning in 1959 at the national level and can also be used to look at state-level trends and differences going back to 1980. However, the relatively large sampling errors of state-level estimates for smaller states somewhat limit their usefulness.

The **American Community Survey (ACS)** releases annual subnational estimates of income and poverty for all places, counties, and metropolitan areas with a population of at least 65,000 as well as the nation and the states. The sample size of this survey is over 3 million addresses per year, making the ACS exceptionally useful for subnational analyses. Three-year period estimates are available for areas and subpopulations as small as 20,000 and five-year period estimates are available for all geographies, including census tracts, block groups and small subgroups of the population. ACS estimates are updated every year. Because of its large sample size, estimates from the fully implemented ACS provide the best survey-based state level income and poverty estimates. The ACS was fully-implemented in 2006.


The **Small Area Income and Poverty Estimates (SAIPE)** program produces single-year estimates of median household income and poverty for states and all counties, as well as population and poverty estimates for school districts. Since SAIPE estimates combine ACS data with administrative and other data, SAIPE estimates generally have lower variance than ACS estimates but are released later because they incorporate ACS data in the models. For counties and school districts, particularly those with populations below 65,000, the SAIPE program provides the most accurate subnational estimates of poverty. For counties, SAIPE generally provides the best single-year estimates of median household income."

cite: https://www.census.gov/data/developers/data-sets/Poverty-Statistics.html

In [ ]:
# install MongoDB on Colab
!apt install mongodb
# start the service
!service mongodb start

# import and start pymongo
from pymongo import MongoClient
client = MongoClient()
client.list_database_names() # ['admin', 'local']

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'apt autoremove' to remove it.
The following additional packages will be installed:
  libpcap0.8 libstemmer0d libyaml-cpp0.5v5 mongo-tools mongodb-clients
  mongodb-server mongodb-server-core
The following NEW packages will be installed:
  libpcap0.8 libstemmer0d libyaml-cpp0.5v5 mongo-tools mongodb mongodb-clients
  mongodb-server mongodb-server-core
0 upgraded, 8 newly installed, 0 to remove and 20 not upgraded.
Need to get 53.1 MB of archives.
After this operation, 215 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpcap0.8 amd64 1.8.1-6ubuntu1.18.04.2 [118 kB]
Get:2 http://archive.ubuntu.com/ubuntu bionic/main amd64 libstemmer0d amd64 0+svn585-1build1 [62.5 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic/universe amd64 libyaml-cpp0.5v5 amd64 0.5.2-4ubuntu1 [150 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic/universe amd64 mongo-tools amd64 3.6.3-0ubuntu1 [12.3 MB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 mongodb-clients amd64 1:3.6.3-0ubuntu1.4 [20.2 MB]
Get:6 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 mongodb-server-core amd64 1:3.6.3-0ubuntu1.4 [20.3 MB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 mongodb-server all 1:3.6.3-0ubuntu1.4 [12.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 mongodb amd64 1:3.6.3-0ubuntu1.4 [10.2 kB]
Fetched 53.1 MB in 4s (13.5 MB/s)
Selecting previously unselected package libpcap0.8:amd64.
(Reading database ... 124016 files and directories currently installed.)
Preparing to unpack .../0-libpcap0.8_1.8.1-6ubuntu1.18.04.2_amd64.deb ...
Unpacking libpcap0.8:amd64 (1.8.1-6ubuntu1.18.04.2) ...
Selecting previously unselected package libstemmer0d:amd64.
Preparing to unpack .../1-libstemmer0d_0+svn585-1build1_amd64.deb ...
Unpacking libstemmer0d:amd64 (0+svn585-1build1) ...
Selecting previously unselected package libyaml-cpp0.5v5:amd64.
Preparing to unpack .../2-libyaml-cpp0.5v5_0.5.2-4ubuntu1_amd64.deb ...
Unpacking libyaml-cpp0.5v5:amd64 (0.5.2-4ubuntu1) ...
Selecting previously unselected package mongo-tools.
Preparing to unpack .../3-mongo-tools_3.6.3-0ubuntu1_amd64.deb ...
Unpacking mongo-tools (3.6.3-0ubuntu1) ...
Selecting previously unselected package mongodb-clients.
Preparing to unpack .../4-mongodb-clients_1%3a3.6.3-0ubuntu1.4_amd64.deb ...
Unpacking mongodb-clients (1:3.6.3-0ubuntu1.4) ...
Selecting previously unselected package mongodb-server-core.
Preparing to unpack .../5-mongodb-server-core_1%3a3.6.3-0ubuntu1.4_amd64.deb ...
Unpacking mongodb-server-core (1:3.6.3-0ubuntu1.4) ...
Selecting previously unselected package mongodb-server.
Preparing to unpack .../6-mongodb-server_1%3a3.6.3-0ubuntu1.4_all.deb ...
Unpacking mongodb-server (1:3.6.3-0ubuntu1.4) ...
Selecting previously unselected package mongodb.
Preparing to unpack .../7-mongodb_1%3a3.6.3-0ubuntu1.4_amd64.deb ...
Unpacking mongodb (1:3.6.3-0ubuntu1.4) ...
Setting up libstemmer0d:amd64 (0+svn585-1build1) ...
Setting up libyaml-cpp0.5v5:amd64 (0.5.2-4ubuntu1) ...
Setting up mongodb-server-core (1:3.6.3-0ubuntu1.4) ...
Setting up libpcap0.8:amd64 (1.8.1-6ubuntu1.18.04.2) ...
Setting up mongodb-clients (1:3.6.3-0ubuntu1.4) ...
Setting up mongodb-server (1:3.6.3-0ubuntu1.4) ...
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Created symlink /etc/systemd/system/multi-user.target.wants/mongodb.service â†’ /lib/systemd/system/mongodb.service.
Setting up mongo-tools (3.6.3-0ubuntu1) ...
Setting up mongodb (1:3.6.3-0ubuntu1.4) ...
Processing triggers for systemd (237-3ubuntu10.56) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for libc-bin (2.27-3ubuntu1.6) ...
 * Starting database mongodb
   ...done.

['admin', 'local']

In [ ]:
import json
import requests
import pandas as pd
# get data
#json_data = requests.get("https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,STABREV,COUNTY,SAEPOV5_17R_PT,SAEPOV0_4_PT,SAEPOVALL_PT&for=state:*&time=2019"
#).json()
#print(json_data)

In [ ]:
#SAEPOVALL_PT = All ages in Poverty, Count Estimate
#SAEPOV0_4_PT = Ages 0-4 in Poverty, Count Estimate
#SAEPOV5_17R_PT = Ages 5-17 in Families in Poverty, Count Estimate
#STABREV = state abre
apiUrl = "https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,STABREV,COUNTY,SAEPOV5_17R_PT,SAEPOV0_4_PT,SAEPOVALL_PT&for=state:*&time=2019"
r = requests.get(apiUrl)
data = r.text
parsed = json.loads(data)
d = parsed[1:]
#parsed
allStates19 = pd.DataFrame(d, columns = ['NAME', 'STABREV','COUNTY', 'SAEPOV5_17R_PT', 'SAEPOV0_4_PT', 'SAEPOVALL_PT', 'time', 'state'])
allStates19

#primary key = county
#foreign key = state | Name | stabrev

,NAME,STABREV,COUNTY,SAEPOV5_17R_PT,SAEPOV0_4_PT,SAEPOVALL_PT,time,state
0,Alabama,AL,000,161670,69236,747478,2019,01
1,Alaska,AK,000,14945,7350,73033,2019,02
2,Arizona,AZ,000,214561,88440,963007,2019,04
3,Arkansas,AR,000,99539,45995,468575,2019,05
4,California,CA,000,969127,362735,4560419,2019,06
5,Colorado,CO,000,97101,37031,531331,2019,08
6,Connecticut,CT,000,69310,24998,343101,2019,09
7,Delaware,DE,000,21885,9428,106227,2019,10
8,District of Columbia,DC,000,16359,9565,94985,2019,11
9,Florida,FL,000,512439,224337,2681832,2019,12
10,Georgia,GA,000,337151,134041,1397607,2019,13
11,Hawaii,HI,000,22208,9312,124650,2019,15
12,Idaho,ID,000,36471,17748,193741,2019,16
13,Illinois,IL,000,296303,126156,1415838,2019,17
14,Indiana,IN,000,155049,68177,773367,2019,18
15,Iowa,IA,000,60772,27614,337156,2019,19
16,Kansas,KS,000,64613,29752,319931,2019,20
17,Kentucky,KY,000,136346,62879,692875,2019,21
18,Louisiana,LA,000,196521,82040,847739,2019,22
19,Maine,ME,000,22184,9521,141566,2019,23
20,Maryland,MD,000,113069,43157,537717,2019,24
21,Massachusetts,MA,000,112052,42773,631551,2019,25
22,Michigan,MI,000,251843,106347,1264445,2019,26
23,Minnesota,MN,000,96676,37965,491782,2019,27
24,Mississippi,MS,000,132900,53708,559764,2019,28
25,Missouri,MO,000,154869,65688,766238,2019,29
26,Montana,MT,000,23011,10094,130974,2019,30
27,Nebraska,NE,000,34436,16551,186402,2019,31
28,Nevada,NV,000,82043,34703,384900,2019,32
29,New Hampshire,NH,000,13959,5385,98310,2019,33
30,New Jersey,NJ,000,161789,65938,795676,2019,34
31,New Mexico,NM,000,77988,29936,358526,2019,35
32,New York,NY,000,485664,213274,2471760,2019,36
33,North Carolina,NC,000,300469,127334,1383760,2019,37
34,North Dakota,ND,000,12685,6028,77327,2019,38
35,Ohio,OH,000,306068,140477,1474285,2019,39
36,Oklahoma,OK,000,125766,54152,578631,2019,40
37,Oregon,OR,000,79068,31011,474302,2019,41
38,Pennsylvania,PA,000,300187,116446,1481193,2019,42
39,Rhode Island,RI,000,22754,9896,118095,2019,44
40,South Carolina,SC,000,151485,60443,695259,2019,45
41,South Dakota,SD,000,20542,10173,101371,2019,46
42,Tennessee,TN,000,194183,86482,919850,2019,47
43,Texas,TX,000,960219,416641,3870944,2019,48
44,Utah,UT,000,58514,25728,279435,2019,49
45,Vermont,VT,000,8185,3281,60624,2019,50
46,Virginia,VA,000,166023,68257,822944,2019,51
47,Washington,WA,000,132232,57040,731216,2019,53
48,West Virginia,WV,000,50314,20519,281175,2019,54
49,Wisconsin,WI,000,115695,47185,591404,2019,55
50,Wyoming,WY,000,9664,4721,55776,2019,56

In [ ]:
#SAEPOVALL_PT = All ages in Poverty, Count Estimate
#SAEPOV0_4_PT = Ages 0-4 in Poverty, Count Estimate
#SAEPOV5_17R_PT = Ages 5-17 in Families in Poverty, Count Estimate
#STABREV = state abre
api_url = "https://api.census.gov/data/timeseries/poverty/saipe?get=NAME,STABREV,COUNTY,SAEPOV5_17R_PT,SAEPOV0_4_PT,SAEPOVALL_PT&for=state:*&time=2020"
res = requests.get(api_url)
dataOut = res.text
parse = json.loads(dataOut)
dParsed = parse[1:]
#parsed
allStates20 = pd.DataFrame(dParsed, columns = ['NAME', 'STABREV','COUNTY', 'SAEPOV5_17R_PT', 'SAEPOV0_4_PT', 'SAEPOVALL_PT', 'time', 'state'])
allStates20

,NAME,STABREV,COUNTY,SAEPOV5_17R_PT,SAEPOV0_4_PT,SAEPOVALL_PT,time,state
0,Alabama,AL,000,152810,66169,714568,2020,01
1,Alaska,AK,000,13944,6852,68714,2020,02
2,Arizona,AZ,000,197320,79944,932555,2020,04
3,Arkansas,AR,000,96688,43491,448665,2020,05
4,California,CA,000,898424,327414,4419167,2020,06
5,Colorado,CO,000,89390,36625,511346,2020,08
6,Connecticut,CT,000,60753,20781,333435,2020,09
7,Delaware,DE,000,20536,9067,104400,2020,10
8,District of Columbia,DC,000,19568,8515,101959,2020,11
9,Florida,FL,000,504335,194751,2642642,2020,12
10,Georgia,GA,000,341361,129216,1465328,2020,13
11,Hawaii,HI,000,20055,7954,121182,2020,15
12,Idaho,ID,000,34060,14917,181197,2020,16
13,Illinois,IL,000,268581,99052,1351159,2020,17
14,Indiana,IN,000,154493,69492,760167,2020,18
15,Iowa,IA,000,57465,24130,313752,2020,19
16,Kansas,KS,000,59792,26124,300931,2020,20
17,Kentucky,KY,000,128755,56318,647158,2020,21
18,Louisiana,LA,000,176958,78493,802040,2020,22
19,Maine,ME,000,21680,7695,139614,2020,23
20,Maryland,MD,000,102597,39931,533561,2020,24
21,Massachusetts,MA,000,102511,37695,628899,2020,25
22,Michigan,MI,000,241933,99307,1232948,2020,26
23,Minnesota,MN,000,84640,31657,458302,2020,27
24,Mississippi,MS,000,122573,50986,536535,2020,28
25,Missouri,MO,000,144708,58334,725117,2020,29
26,Montana,MT,000,22237,9632,130711,2020,30
27,Nebraska,NE,000,32233,13148,172623,2020,31
28,Nevada,NV,000,76354,34737,386817,2020,32
29,New Hampshire,NH,000,14147,5410,92404,2020,33
30,New Jersey,NJ,000,168155,64214,818389,2020,34
31,New Mexico,NM,000,70994,26740,346455,2020,35
32,New York,NY,000,460210,180596,2401141,2020,36
33,North Carolina,NC,000,282345,115564,1329685,2020,37
34,North Dakota,ND,000,11811,6951,75781,2020,38
35,Ohio,OH,000,281878,125897,1428219,2020,39
36,Oklahoma,OK,000,118440,50924,552168,2020,40
37,Oregon,OR,000,70179,28205,457940,2020,41
38,Pennsylvania,PA,000,258736,100637,1345976,2020,42
39,Rhode Island,RI,000,20054,8290,108306,2020,44
40,South Carolina,SC,000,144351,58375,703004,2020,45
41,South Dakota,SD,000,19629,9281,99903,2020,46
42,Tennessee,TN,000,187030,79579,911097,2020,47
43,Texas,TX,000,959889,390839,3862713,2020,48
44,Utah,UT,000,45054,20230,234666,2020,49
45,Vermont,VT,000,8025,2354,56281,2020,50
46,Virginia,VA,000,150923,67255,769479,2020,51
47,Washington,WA,000,119396,53387,714653,2020,53
48,West Virginia,WV,000,49058,19960,274176,2020,54
49,Wisconsin,WI,000,102673,45185,571049,2020,55
50,Wyoming,WY,000,8835,4026,52418,2020,56

In [ ]:
#'NAME', 'STABREV', 'COUNTY', 'SAEPOV5_17R_PT', 'SAEPOV0_4_PT', 'SAEPOVALL_PT', 'time', 'state'

statesQuery= '''
CREATE TABLE states (
    NAME text PRIMARY KEY ,
    STABREV text,
    COUNTY text,
    SAEPOV5_17R_PT text, 
    SAEPOV0_4_PT text, 
    SAEPOVALL_PT text, 
    time text, 
    state text

);
'''

In [ ]:
# within "poverty", create collection/table called "states"
#states = db['states']
#db.states.delete_many({})
# contains :
#SAEPOVALL_PT = All ages in Poverty, Count Estimate
#SAEPOV0_4_PT = Ages 0-4 in Poverty, Count Estimate
#SAEPOV5_17R_PT = Ages 5-17 in Families in Poverty, Count Estimate
#STABREV = state abre

In [ ]:
count = 0
#'NAME', 'STABREV', 'COUNTY', 'SAEPOV5_17R_PT', 'SAEPOV0_4_PT', 'SAEPOVALL_PT', 'time', 'state'
for x in range(len(d)):
  #print(d[x])
  count += 1

#print(count)
#print(len(json_data)-1)

Data from another cite: 
SAINC1 State annual personal income summary: personal income
Personal income (Millions of dollars)

cite: https://apps.bea.gov/iTable/?reqid=70&step=1&acrdn=2#eyJhcHBpZCI6NzAsInN0ZXBzIjpbMSwyNCwyOSwyNSwzMSwyNiwyNywzMCwzMF0sImRhdGEiOltbIlRhYmxlSWQiLCIyMSJdLFsiQ2xhc3NpZmljYXRpb24iLCJOb24tSW5kdXN0cnkiXSxbIk1ham9yX0FyZWEiLCIwIl0sWyJTdGF0ZSIsWyIwIl1dLFsiQXJlYSIsWyIwMTAwMCIsIjAyMDAwIiwiMDQwMDAiLCIwNTAwMCIsIjA2MDAwIiwiMDgwMDAiLCIwOTAwMCIsIjEwMDAwIiwiMTEwMDAiLCIxMjAwMCIsIjEzMDAwIiwiMTUwMDAiLCIxNjAwMCIsIjE3MDAwIiwiMTgwMDAiLCIxOTAwMCIsIjIwMDAwIiwiMjEwMDAiLCIyMjAwMCIsIjIzMDAwIiwiMjQwMDAiLCIyNTAwMCIsIjI2MDAwIiwiMjcwMDAiLCIyODAwMCIsIjI5MDAwIiwiMzAwMDAiLCIzMTAwMCIsIjMyMDAwIiwiMzMwMDAiLCIzNDAwMCIsIjM1MDAwIiwiMzYwMDAiLCIzNzAwMCIsIjM4MDAwIiwiMzkwMDAiLCI0MDAwMCIsIjQxMDAwIiwiNDIwMDAiLCI0NDAwMCIsIjQ1MDAwIiwiNDYwMDAiLCI0NzAwMCIsIjQ4MDAwIiwiNDkwMDAiLCI1MDAwMCIsIjUxMDAwIiwiNTMwMDAiLCI1NDAwMCIsIjU1MDAwIiwiNTYwMDAiXV0sWyJTdGF0aXN0aWMiLCIxIl0sWyJVbml0X29mX21lYXN1cmUiLCJMZXZlbHMiXSxbIlllYXIiLFsiMjAxOSJdXSxbIlllYXJCZWdpbiIsIi0xIl0sWyJZZWFyX0VuZCIsIi0xIl1dfQ==

In [ ]:
import pymongo
import pprint
#from google.colab import drive
#drive.mount('/content/gdrive')
from google.colab import files
uploaded = files.upload() #2019_data_nc.csv
u = files.upload() #2020_data_nc.csv

Saving 2019_data_nc.csv to 2019_data_nc.csv

Saving 2020_data_nc.csv to 2020_data_nc.csv

In [ ]:
#from google.colab import drive
#drive.mount('/content/gdrive')
d_20 = pd.read_csv("2020_data_nc.csv")
d_20

#primary key = geoname

,"SAINC1 State annual personal income summary: personal income, population, per capita personal income",Unnamed: 1,Unnamed: 2
0,SAINC1 State annual personal income summary: p...,NaN,NaN
1,State or DC,NaN,NaN
2,GeoFips,GeoName,2020.0
3,1000,Alabama,232040.3
4,2000,Alaska *,45965.1
5,4000,Arizona,375601.3
6,5000,Arkansas,142038.5
7,6000,California,2790523.5
8,8000,Colorado,378051.4
9,9000,Connecticut,282486.1
10,10000,Delaware,55866.8
11,11000,District of Columbia,61925.5
12,12000,Florida,1235793.4
13,13000,Georgia,557601.2
14,15000,Hawaii *,83109.5
15,16000,Idaho,91448.5
16,17000,Illinois,794459.5
17,18000,Indiana,354337.7
18,19000,Iowa,169994.2
19,20000,Kansas,164333.6
20,21000,Kentucky,214052.5
21,22000,Louisiana,236324.2
22,23000,Maine,74805.9
23,24000,Maryland,405454.6
24,25000,Massachusetts,550459.5
25,26000,Michigan,537493.5
26,27000,Minnesota,355211.2
27,28000,Mississippi,126306.9
28,29000,Missouri,320698.2
29,30000,Montana,58769.6
30,31000,Nebraska,112629.7
31,32000,Nevada,172538.5
32,33000,New Hampshire,94440.8
33,34000,New Jersey,663544.1
34,35000,New Mexico,99018.0
35,36000,New York,1442624.6
36,37000,North Carolina,542726.5
37,38000,North Dakota,47410.7
38,39000,Ohio,631330.7
39,40000,Oklahoma,200152.9
40,41000,Oregon,241790.3
41,42000,Pennsylvania,788281.5
42,44000,Rhode Island,65709.0
43,45000,South Carolina,251946.2
44,46000,South Dakota,53621.5
45,47000,Tennessee,362278.1
46,48000,Texas,1624525.8
47,49000,Utah,171385.4
48,50000,Vermont,38097.7
49,51000,Virginia,536817.2
50,53000,Washington,527581.8
51,54000,West Virginia,80971.2
52,55000,Wisconsin,329622.8
53,56000,Wyoming,37974.0
54,NaN,NaN,NaN
55,Legend/Footnotes,NaN,NaN
56,* Estimates prior to 1950 are not available fo...,NaN,NaN
57,Note. All dollar estimates are in millions of ...,NaN,NaN
58,"Last updated: September 30, 2022--revised stat...",NaN,NaN

In [ ]:
d_19 = pd.read_csv("2019_data_nc.csv")
d_19 = d_19[3:]
d_19
#primary key = geoname

,"SAINC1 State annual personal income summary: personal income, population, per capita personal income",Unnamed: 1,Unnamed: 2
3,1000,Alabama,216587.5
4,2000,Alaska *,45056.8
5,4000,Arizona,340259.8
6,5000,Arkansas,133161.4
7,6000,California,2567425.6
8,8000,Colorado,356341.3
9,9000,Connecticut,272459.4
10,10000,Delaware,53202.5
11,11000,District of Columbia,58203.2
12,12000,Florida,1165093.1
13,13000,Georgia,522393.0
14,15000,Hawaii *,79699.7
15,16000,Idaho,83031.5
16,17000,Illinois,750935.6
17,18000,Indiana,329625.0
18,19000,Iowa,160360.6
19,20000,Kansas,155125.9
20,21000,Kentucky,197356.0
21,22000,Louisiana,222349.1
22,23000,Maine,68863.0
23,24000,Maryland,384074.3
24,25000,Massachusetts,513710.4
25,26000,Michigan,495268.6
26,27000,Minnesota,332916.0
27,28000,Mississippi,117112.8
28,29000,Missouri,301030.7
29,30000,Montana,54083.5
30,31000,Nebraska,105922.2
31,32000,Nevada,161433.6
32,33000,New Hampshire,88822.8
33,34000,New Jersey,633651.0
34,35000,New Mexico,91853.6
35,36000,New York,1362298.6
36,37000,North Carolina,505470.2
37,38000,North Dakota,44346.9
38,39000,Ohio,589835.8
39,40000,Oklahoma,191851.6
40,41000,Oregon,222257.0
41,42000,Pennsylvania,739891.8
42,44000,Rhode Island,61107.2
43,45000,South Carolina,237024.5
44,46000,South Dakota,48797.0
45,47000,Tennessee,338609.2
46,48000,Texas,1560503.5
47,49000,Utah,157045.2
48,50000,Vermont,35584.5
49,51000,Virginia,507874.1
50,53000,Washington,490322.1
51,54000,West Virginia,77329.9
52,55000,Wisconsin,311019.0
53,56000,Wyoming,36889.0
54,NaN,NaN,NaN
55,Legend/Footnotes,NaN,NaN
56,* Estimates prior to 1950 are not available fo...,NaN,NaN
57,Note. All dollar estimates are in millions of ...,NaN,NaN
58,"Last updated: September 30, 2022--revised stat...",NaN,NaN

Cleaning Up

In [ ]:
d_19.rename(columns={'SAINC1 State annual personal income summary: personal income, population, per capita personal income': 'index', 'Unnamed: 1': 'State Name', 'Unnamed: 2': 'personal_income'}, inplace=True)
for col in d_19.columns:
  print(col)

index
State Name
personal_income

In [ ]:
d_19 = d_19[:51]
d_19

    index            State Name  personal_income
3    1000               Alabama         216587.5
4    2000              Alaska *          45056.8
5    4000               Arizona         340259.8
6    5000              Arkansas         133161.4
7    6000            California        2567425.6
8    8000              Colorado         356341.3
9    9000           Connecticut         272459.4
10  10000              Delaware          53202.5
11  11000  District of Columbia          58203.2
12  12000               Florida        1165093.1
13  13000               Georgia         522393.0
14  15000              Hawaii *          79699.7
15  16000                 Idaho          83031.5
16  17000              Illinois         750935.6
17  18000               Indiana         329625.0
18  19000                  Iowa         160360.6
19  20000                Kansas         155125.9
20  21000              Kentucky         197356.0
21  22000             Louisiana         222349.1
22  23000                 Maine          68863.0
23  24000              Maryland         384074.3
24  25000         Massachusetts         513710.4
25  26000              Michigan         495268.6
26  27000             Minnesota         332916.0
27  28000           Mississippi         117112.8
28  29000              Missouri         301030.7
29  30000               Montana          54083.5
30  31000              Nebraska         105922.2
31  32000                Nevada         161433.6
32  33000         New Hampshire          88822.8
33  34000            New Jersey         633651.0
34  35000            New Mexico          91853.6
35  36000              New York        1362298.6
36  37000        North Carolina         505470.2
37  38000          North Dakota          44346.9
38  39000                  Ohio         589835.8
39  40000              Oklahoma         191851.6
40  41000                Oregon         222257.0
41  42000          Pennsylvania         739891.8
42  44000          Rhode Island          61107.2
43  45000        South Carolina         237024.5
44  46000          South Dakota          48797.0
45  47000             Tennessee         338609.2
46  48000                 Texas        1560503.5
47  49000                  Utah         157045.2
48  50000               Vermont          35584.5
49  51000              Virginia         507874.1
50  53000            Washington         490322.1
51  54000         West Virginia          77329.9
52  55000             Wisconsin         311019.0
53  56000               Wyoming          36889.0

In [ ]:
d_20 = d_20[3:]
d_20.rename(columns={'SAINC1 State annual personal income summary: personal income, population, per capita personal income': 'index', 'Unnamed: 1': 'State Name', 'Unnamed: 2': 'personal_income'}, inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [ ]:
d_20 = d_20[:51]
d_20

    index            State Name  personal_income
3    1000               Alabama         232040.3
4    2000              Alaska *          45965.1
5    4000               Arizona         375601.3
6    5000              Arkansas         142038.5
7    6000            California        2790523.5
8    8000              Colorado         378051.4
9    9000           Connecticut         282486.1
10  10000              Delaware          55866.8
11  11000  District of Columbia          61925.5
12  12000               Florida        1235793.4
13  13000               Georgia         557601.2
14  15000              Hawaii *          83109.5
15  16000                 Idaho          91448.5
16  17000              Illinois         794459.5
17  18000               Indiana         354337.7
18  19000                  Iowa         169994.2
19  20000                Kansas         164333.6
20  21000              Kentucky         214052.5
21  22000             Louisiana         236324.2
22  23000                 Maine          74805.9
23  24000              Maryland         405454.6
24  25000         Massachusetts         550459.5
25  26000              Michigan         537493.5
26  27000             Minnesota         355211.2
27  28000           Mississippi         126306.9
28  29000              Missouri         320698.2
29  30000               Montana          58769.6
30  31000              Nebraska         112629.7
31  32000                Nevada         172538.5
32  33000         New Hampshire          94440.8
33  34000            New Jersey         663544.1
34  35000            New Mexico          99018.0
35  36000              New York        1442624.6
36  37000        North Carolina         542726.5
37  38000          North Dakota          47410.7
38  39000                  Ohio         631330.7
39  40000              Oklahoma         200152.9
40  41000                Oregon         241790.3
41  42000          Pennsylvania         788281.5
42  44000          Rhode Island          65709.0
43  45000        South Carolina         251946.2
44  46000          South Dakota          53621.5
45  47000             Tennessee         362278.1
46  48000                 Texas        1624525.8
47  49000                  Utah         171385.4
48  50000               Vermont          38097.7
49  51000              Virginia         536817.2
50  53000            Washington         527581.8
51  54000         West Virginia          80971.2
52  55000             Wisconsin         329622.8
53  56000               Wyoming          37974.0